body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.796);
}


.stop-watch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px rgba(111, 75, 75, 0.449);
}


.stop-watch .display {
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 5rem;
  text-shadow: 2px 2px 2px hsla(0, 51%, 14%, 0.358);
}

.controls button{
  padding: 10px 20px;
  margin: 15px;
  min-width: 120px;
  height: 100px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(13, 13, 13);
  transition: background-color .3s ease-out;
}

.start-button{
  background-color: rgb(17, 177, 17);
}

.start-button:hover{
  background-color: rgb(18, 84, 18);
}

.stop-button{
  background-color: rgb(203, 56, 36);
}

.stop-button:hover{
  background-color: rgb(113, 34, 20);
}

.reset-button{
  background-color: rgb(58, 89, 217);
}

.reset-button:hover{
  background-color: rgb(10, 29, 105);
}


.start-button:active{
  background-color: rgba(255, 255, 255, 0.63);
}

.stop-button:active{
  background-color: rgba(255, 255, 255, 0.56);
}

.reset-button:active{
  background-color: rgba(255, 255, 255, 0.495);
}


.switch-mode {
  margin-top: 20px;
  border-radius: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: background-color ease-out;
}

.switch-mode:hover{
  background-color: rgba(106, 102, 102, 0.729);
}

.switch-mode:active {
  background-color: rgb(246, 240, 240);
  transform: scale(95%);
}

